.content {    
    position: absolute;
    top: 50%;
    left: 50%;
    
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    padding: 15px;
    
    text-align: center;
    
    position: absolute;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: lightgrey;
}

textarea {
    width: 95%;
}

* {
  margin: 0;
  padding: 0;
}

input, textarea {
    background: rgba(255, 255, 255, 1);
    border: 1px solid lightgrey;
    
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    
    font-size: 1em;
    border-radius: 5px;
}

input {
    padding-right: 40px;
}

textarea {
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    
    min-width: 500px;
    min-height: 300px;
    margin-top: 70px;
}

input:focus, textarea:focus {
    outline: none !important;
    border: 1px solid #FF7C47;
    box-shadow: 0 0 10px #FF7C47;
}

footer {
    position: fixed;
    bottom: 0;
        
    width: 100%;
    border: 1px dotted #E7E7E7;
}

.macro-display {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8em;
    color: grey;
}

.name-input {
    height: 30px;
    width: 300px;
}

.menubar {
    background-color: #F8F8F8;
    height: 50px;
    border-bottom: 1px solid #E7E7E7;
    line-height: 50px;
    
    padding-left: 20px;
    padding-right: 20px;
    
    color: #FF7C47;
}

.title {
    display: inline-table;
    vertical-align: middle;
    
    font-size: 1.5em;
}

.menu {
    display: inline-table;
    float: right;
}

.logo {
    background-image: url("images/logo.png");
    background-size: contain;
    
    width: 128px;
    height: 128px;
    
    margin: 0 auto;
    margin-bottom: 20px;
}

.legalese {
    display: inline-table;
    float: right;
    padding: 40px;
}

.copyright {
    padding: 40px;
    display: inline-table;
}

.search {
  position: relative;
  z-index: 1;
  left: -40px;
  color: lightgray;
  cursor: pointer;
  width: 0;
}