body {
    font-family: 'Montserrat', sans-serif!important;
}

.header {
    text-align: center;
}

.macro-display {
    resize: vertical;
    min-height: 300px;
    margin-bottom: 40px;
    
    background-color: white!important;
    border-top: none!important;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
    
    font-family: "Source Code Pro", monospace!important;
    
    display: block;
    overflow: auto;
}

.name-input {
    margin-bottom: 40px;
    margin-top: 20px;
}

.logo {
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 128px;
    height: 128px;
    
    margin: 0 auto;
}

.centered {
    text-align: center;
}