extends layout

block content
  .row
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.header
      h1 #{pageHeader.title}
      h4 #{pageHeader.strapline}
  .row
    .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3
      form(method='GET', action='', role='form')
        input.name-input.form-control(type='text', name='name', placeholder='Search for a spell...')
  .row
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
      textarea.macro-display.form-control(readonly="true", autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
        | #{macro}